body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #000000, #a5a2a2);
  color: #fff;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.section {
  width: 100%;

  background-color: #333333;
  padding: 10px;
  margin: 20px 0;
  margin-top: 60px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.about-me img {
  width: 40%;
  border-radius: 10%;
  height: auto;
  margin: 20px;
}

h1 {
  color: #fff;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .about-me img {
    width: 100%;
    height: auto;
    margin: auto;
  }
}
span {
  color: #007bff;
}
p {
  color: #fff;
  line-height: 1.5;
}

a {
  color: #007bff;
  text-decoration: none;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: linear-gradient(to right, #000000, #a5a2a2);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #333333;
}

/* Add more styles as needed */

.nav-right {
  list-style: none;
  display: flex;
  margin: 0;
  margin-right: 20px;
  padding: 0;
}

.nav-right li {
  margin-left: 20px;
}

.nav-right li:first-child {
  margin-left: 0;
}

.nav-right li a {
  color: #fff;
  text-decoration: none;
}

.nav-right li a:hover {
  text-decoration: underline;
}
.button {
  border-radius: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #817e7e;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: white;
  color: black;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-one {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.experience {
  display: flex;
}
.react {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  margin-bottom: 30px;
}
.agfe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.gaza-img {
  width: 40%;
  border-radius: 10%;
  height: auto;
  margin: 20px;
}
.exper-txt {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.para {
  font-size: large;
}
.skills-containetr {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}
.skill-card {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  background-color: #817e7e;
  color: white;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#html.skill-card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  background-color: #e34f26;
}
#css.skill-card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  background-color: #264de4;
}
#js.skill-card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  background-color: #f0db4f;
}
#react.skill-card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  background-color: #61dafb;
}
#git.skill-card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  background-color: #181717;
}
#github.skill-card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  background-color: #171515;
}
hr {
  color: white;
  width: 100%;
}
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  background-color: #c7c6c6;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
}

textarea {
  resize: vertical;
  background-color: #a5a2a2;
  height: 100px;
}

.btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

@media (max-width: 500px) {
  .about-me img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .container {
    max-width: 90%;
  }
  .exper-txt {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-right {
    font-size: small;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .nav-left {
    display: none;
  }
  .hero-one {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
/* Footer styles */
.footer {
  background-color: #333;
  color: #fff;
  border-radius: 20px;
}

.footer-con {
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.footer p {
  margin: 0;
}

/* Social Icons styles */
.social-icons {
  list-style: none;
  display: flex;
  padding: 0;
}

.social-icon {
  margin-right: 10px;
}

.social-icon a {
  color: #fff;
}

.social-icon a:hover {
  color: #ccc; /* You can change this to the desired hover color */
}
#snd-btn {
  width: 25%;
  text-align: center;
}
#contact {
}
.facebook:hover {
  color: #1877f2;
}
.twitter:hover {
  color: #1da1f2;
}
.linkedin:hover {
  color: #0a66c2;
}
.github:hover {
  color: #181717;
}
.snd-bton {
  width: 100%;
  text-align: center;
}
